@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nata+Sans:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-nata-sans: "Nata Sans", sans-serif;

  --color-primary-s: #475569;
  --color-accent: #14b8a6;
  --color-bg-s: #f8fafc;
  --color-text-s: #1e293b;
}
